@{
    ViewBag.Title = "Registro Campo";
    
}

@using (Ajax.BeginForm(new AjaxOptions()))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="ContentRegion" class="container-fluid text-left">
        -- Registro de Campo --

        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 210px;">
                        <label>Fecha:</label>
                    </label>
                    <div class="controls" style="max-height: 200px;">
                        <input id="txtfecha" value="10/10/2011" style="width: 206px;" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span4">
                <label class="control-label" style="max-height: 200px;">
                    <label>Lugar:</label>
                </label>
                <div class="controls" style="max-height: 200px;">
                    @Html.DropDownList("ddlclub")
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Numero de Personas:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        <input type="text" id="txtnropersonas" placeholder="Ingrese Numero de Personas" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    
   
    <div id="ServicioContent" class="container-fluid text-left">
        -- Registro de Servicio --

        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Servicio:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        @Html.DropDownList("ddlservicio")
                    </div>

                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span4">
                <label class="control-label" style="max-height: 200px;">
                    <label>Numero de Personas:</label>
                </label>
                <div class="controls" style="max-height: 200px;">
                    <input type="text" id="txtpersonasservicio" placeholder="Ingrese Numero de Personas" />
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Description:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        <input type="text" id="txtdescription" placeholder="Ingrese Descripcion" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="span12" style="max-height: 200px;">
                <input type="submit" value="Agregar" id="btnagregarservicios" />
            </div>
        </div>
        <div class="row">
            <div class="span12" style="max-height: 200px;">
                <div id="gvServicios"></div>
            </div>
        </div>
    </div>
    
    <div id="JuegosContent" class="container-fluid text-left">
        -- Juegos --

        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Juego:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        @Html.DropDownList("ddljuego")
                    </div>

                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span4">
                <label class="control-label" style="max-height: 200px;">
                    <label>Numero de Personas:</label>
                </label>
                <div class="controls" style="max-height: 200px;">
                    <input type="text" id="txtpersonasjuegos" placeholder="Ingrese Numero de personas" />
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Description:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        <input type="text" id="txtdesjuegos" placeholder="Ingrese Descripcion" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="span12" style="max-height: 200px;">
                <input type="submit" value="Agregar" id="btnagregarjuego" />
            </div>
        </div>

        <div class="row">
            <div class="span12" style="max-height: 200px;">
                <div id="gvJuegos"></div>
            </div>
        </div>
        <div class="row">
            <div class="span12" style="max-height: 200px;">
                <button id="btnGrabar">
                    Grabar</button>
            </div>
        </div>
    </div>
    
    <input type="hidden" id="hfcodcampo" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
    <script>
        var Geturlcabecera = "http://localhost:1839/Service/";
        $(document).ready(function () {
            $('#txtfecha').kendoDateTimePicker().data("kendoDateTimePicker");
            $('#gvServicios').kendoGrid({
                dataSource: getDataSource(),
                sortable: true,
                selectable: false,
                resizable: true,
                sortable: {
                    mode: 'single'
                },
                pageable: {
                    numeric: true,
                    previousNext: true,
                    refresh: true,
                    pageSizes: [5, 10, 15, 20]
                },

                columns: [
                          { field: "NameServicio", width: 100, title: "Servicio" },
                          { field: "NuPersonas", width: 100, title: "Nro Personas" },
                          { field: "TxtComentario", width: 60, title: "Descripcion" }
                ]
            });
            function getDataSource() {

                return new kendo.data.DataSource({
                    data: servicios,
                    type: "json",
                    serverPaging: false,
                    serverSorting: false,
                    serverFiltering: true,
                    pageSize: 5,
                    sort: { field: "Name", dir: "asc" },



                });
            }

            $('#gvJuegos').kendoGrid({
                dataSource: getJuegosDataSource(),
                sortable: true,
                selectable: false,
                resizable: true,
                sortable: {
                    mode: 'single'
                },
                pageable: {
                    numeric: true,
                    previousNext: true,
                    refresh: true,
                    pageSizes: [5, 10, 15, 20]
                },

                columns: [
                          { field: "NameJuego", width: 100, title: "Juego" },
                          { field: "NuPersonas", width: 100, title: "Nro Personas" },
                          { field: "TxtComentario", width: 60, title: "Descripcion" }
                ]
            });
            function getJuegosDataSource() {

                return new kendo.data.DataSource({
                    data: juegos,
                    type: "json",
                    serverPaging: false,
                    serverSorting: false,
                    serverFiltering: true,
                    pageSize: 5,
                    sort: { field: "Name", dir: "asc" },


                });
            }
            $("#btnGrabar").click(function () {

                var besolicitudcampo = {};
                besolicitudcampo.CoResponsable = @WebSecurity.CurrentUserId
                besolicitudcampo.FeDiaCampo = '/Date(' + kendo.toString($("#txtfecha").data('kendoDateTimePicker').value(), 'yyyy-MM-ddTHH:mm:ss') + ')/';
                besolicitudcampo.NuTotalPersonas = parseInt($('#txtnropersonas').val());
                besolicitudcampo.CoClub = parseInt($('#ddlclub option:selected').val());
                var param = JSON.stringify(besolicitudcampo);
                $.ajax({
                    cache: false,
                    type: "POST",
                    async: true,
                    url: Geturlcabecera + "RegistrarCabeceraCampo",
                    data: param,
                    processData: true,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        $('#hfcodcampo').val(data);
                        for (var i = 0; i < servicios.length; i++) {
                            servicios[i].CoDiaCampo = parseInt($('#hfcodcampo').val());
                        }
                        var param = JSON.stringify(servicios);
                        $.ajax({
                            cache: false,
                            type: "POST",
                            async: true,
                            url: Geturlcabecera + "RegistrarServicioCampo",
                            data: param,
                            processData: true,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {

                                //alert("Datos grabados");
                                return false;
                            },
                            error: function (xhr) {
                                debugger;
                            }
                        });
                        for (var i = 0; i < juegos.length; i++) {
                            juegos[i].CoDiaCampo = parseInt($('#hfcodcampo').val());
                        }
                        var param = JSON.stringify(juegos);
                        $.ajax({
                            cache: false,
                            type: "POST",
                            async: true,
                            url: Geturlcabecera + "RegistrarServicioCampo",
                            data: param,
                            processData: true,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {

                                alert("Datos grabados");
                                return false;
                            },
                            error: function (xhr) {
                                debugger;
                            }
                        });
                        //alert("Datos grabados");
                        return false;
                    },
                    error: function (xhr) {
                        debugger;
                    }
                });


            });
            var servicios = [];
            var juegos = [];
            var secuencia = 0;
            $("#btnagregarservicios").click(function () {

                var servicio = {};

                servicio.NameServicio = $('#ddlservicio option:selected').text(),
                servicio.NuPersonas = parseInt($('#txtpersonasservicio').val()),

                secuencia = secuencia + 1;

                servicio.CoResponsable = @WebSecurity.CurrentUserId
                servicio.CoJuego = 0;
                servicio.CoServicio = parseInt($('#ddlservicio option:selected').val());
                servicio.NuSecuencia = secuencia;
                servicio.TxtComentario = $('#txtdescription').val();
                servicio.SsPrecioPersona = 10;

                servicios.push(servicio);
                var grid = $("#gvServicios").data("kendoGrid"); grid.dataSource.data(servicios);
            });

            $("#btnagregarjuego").click(function () {

                var juego = {};

                juego.NameJuego = $('#ddljuego option:selected').text(),
                juego.NuPersonas = parseInt($('#txtpersonasjuegos').val()),

                secuencia = secuencia + 1;


                juego.CoResponsable = @WebSecurity.CurrentUserId
                juego.CoJuego = parseInt($('#ddljuego option:selected').val());
                juego.CoServicio = 0;

                juego.TxtComentario = $('#txtdesjuegos').val();
                juego.SsPrecioPersona = 10;
                juego.NuSecuencia = secuencia;
                juegos.push(juego);
                var grid = $("#gvJuegos").data("kendoGrid"); grid.dataSource.data(juegos);
            });
        });
    </script>
}



