@model MvcEntretenimientoWeb.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm())
{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Documento Identidad",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Pasaporte",
        Value = "2",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Carnet Extranjeria",
        Value = "3"
    });
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NoNombres)
                @Html.TextBoxFor(m => m.NoNombres)
                @Html.ValidationMessageFor(m => m.NoNombres)
            </li>
            <li>
                @Html.LabelFor(m => m.NoApePaterno)
                @Html.TextBoxFor(m => m.NoApePaterno)
                @Html.ValidationMessageFor(m => m.NoApePaterno)
            </li>
            <li>
                @Html.LabelFor(m => m.NoApeMaterno)
                @Html.TextBoxFor(m => m.NoApeMaterno)
                @Html.ValidationMessageFor(m => m.NoApeMaterno)
            </li>
            <li>
                @Html.LabelFor(m => m.CoTipoDocumento)
                @Html.DropDownListFor(m => m.CoTipoDocumento, listItems, "-- Seleccione --")
            </li>
             <li>
                @Html.LabelFor(m => m.NuDocumento)
                @Html.TextBoxFor(m => m.NuDocumento)
                @Html.ValidationMessageFor(m => m.NuDocumento)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.NoDireccion)
                @Html.TextBoxFor(m => m.NoDireccion)
                @Html.ValidationMessageFor(m => m.NoDireccion)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>

        </ol>
        <input type="submit" value="Register" />

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
